<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MaximumEntropyModelDirectory" value="C:\Users\saurabhd\MyTrials\Apex-Stuff\opennlp\OpenNLP-Sau\OpenNlp\Resources\Models\"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
